In [1]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.5.2"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0       v purrr   0.3.0
v tibble  2.0.1       v dplyr   0.8.0.1
v tidyr   0.8.2       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.5.2"Warning message:
"package 'tibble' was built under R version 3.5.2"Warning message:
"package 'tidyr' was built under R version 3.5.2"Warning message:
"package 'readr' was built under R version 3.5.2"Warning message:
"package 'purrr' was built under R version 3.5.2"Warning message:
"package 'dplyr' was built under R version 3.5.2"Warning message:
"package 'stringr' was built under R version 3.5.2"Warning message:
"package 'forcats' was built under R version 3.5.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
df1 = readr::read_csv("Datasets/iris.csv")
df2 = readr::read_csv("Datasets/mpg.csv")
df3 = readr::read_csv("Datasets/diamonds.csv")

Parsed with column specification:
cols(
  `sepal-length` = col_double(),
  `sepal-width` = col_double(),
  `petal-length` = col_double(),
  `petal-width` = col_double(),
  class = col_character()
)
Parsed with column specification:
cols(
  manufacturer = col_character(),
  model = col_character(),
  displ = col_double(),
  year = col_double(),
  cyl = col_double(),
  trans = col_character(),
  drv = col_character(),
  cty = col_double(),
  hwy = col_double(),
  fl = col_character(),
  class = col_character()
)
Parsed with column specification:
cols(
  carat = col_double(),
  cut = col_character(),
  color = col_character(),
  clarity = col_character(),
  depth = col_double(),
  table = col_double(),
  price = col_double(),
  x = col_double(),
  y = col_double(),
  z = col_double()
)

In [4]:
head(df1)

  sepal-length sepal-width petal-length petal-width class
1 5.1          3.5         1.4          0.2         Iris-setosa
2 4.9          3.0         1.4          0.2         Iris-setosa
3 4.7          3.2         1.3          0.2         Iris-setosa
4 4.6          3.1         1.5          0.2         Iris-setosa
5 5.0          3.6         1.4          0.2         Iris-setosa
6 5.4          3.9         1.7          0.4         Iris-setosa

In [7]:
summary(df1)

  sepal-length    sepal-width     petal-length    petal-width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.054   Mean   :3.759   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
    class
 Length:150
 Class :character
 Mode  :character

In [5]:
head(df2)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [8]:
summary(df2)

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

In [6]:
head(df3)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [9]:
summary(df3)

     carat            cut               color             clarity
 Min.   :0.2000   Length:53940       Length:53940       Length:53940
 1st Qu.:0.4000   Class :character   Class :character   Class :character
 Median :0.7000   Mode  :character   Mode  :character   Mode  :character
 Mean   :0.7979
 3rd Qu.:1.0400
 Max.   :5.0100
     depth           table           price             x
 Min.   :43.00   Min.   :43.00   Min.   :  326   Min.   : 0.000
 1st Qu.:61.00   1st Qu.:56.00   1st Qu.:  950   1st Qu.: 4.710
 Median :61.80   Median :57.00   Median : 2401   Median : 5.700
 Mean   :61.75   Mean   :57.46   Mean   : 3933   Mean   : 5.731
 3rd Qu.:62.50   3rd Qu.:59.00   3rd Qu.: 5324   3rd Qu.: 6.540
 Max.   :79.00   Max.   :95.00   Max.   :18823   Max.   :10.740
       y                z
 Min.   : 0.000   Min.   : 0.000
 1st Qu.: 4.720   1st Qu.: 2.910
 Median : 5.710   Median : 3.530
 Mean   : 5.735   Mean   : 3.539
 3rd Qu.: 6.540   3rd Qu.: 4.040
 Max.   :58.900   Max.   :31.800

In [12]:
summarise_missing <- function(data,...) {
  # Check early and exit if needed
  if(is.na(data)) {
    print("Data cannot be NA")
    return(data)
  }

  if(is.null(data)) {
    print("Data cannot be  NULL")
    return(data)
  }


  if(!is.data.frame(data) | !is.tibble(data)) {
    print("Data must me a dataframe or a tibble")
    return(NA)
  }

  res <- data %>%
    summarise_all(funs(sum(is.na(.) | is.null(.) | . == "")))
  m <- t(as.matrix(res))
  m1 <- as_tibble(m, rownames = NA)
  m1 <- rownames_to_column(m1)
  m1 <- m1 %>% rename(missing_counts = V1, variables  = rowname) %>% arrange(desc(missing_counts))


  return(m1)
}

In [13]:
summarise_missing(data = df1)

Warning message in if (is.na(data)) {:
"the condition has length > 1 and only the first element will be used"Warning message:
"`as_tibble.matrix()` requires a matrix with column names or a `.name_repair` argument. Using compatibility `.name_repair`.
This warning is displayed once per session."

  variables    missing_counts
1 sepal-length 0
2 sepal-width  0
3 petal-length 0
4 petal-width  0
5 class        0

In [14]:
summarise_missing(data = df3)

Warning message in if (is.na(data)) {:
"the condition has length > 1 and only the first element will be used"

   variables missing_counts
1  carat     0
2  cut       0
3  color     0
4  clarity   0
5  depth     0
6  table     0
7  price     0
8  x         0
9  y         0
10 z         0

In [15]:
summarise_missing(data = df2)

Warning message in if (is.na(data)) {:
"the condition has length > 1 and only the first element will be used"

   variables    missing_counts
1  manufacturer 0
2  model        0
3  displ        0
4  year         0
5  cyl          0
6  trans        0
7  drv          0
8  cty          0
9  hwy          0
10 fl           0
11 class        0

In [19]:
enframe(sapply(df2, function(x) sum(is.na(x))))

   name         value
1  manufacturer 0
2  model        0
3  displ        0
4  year         0
5  cyl          0
6  trans        0
7  drv          0
8  cty          0
9  hwy          0
10 fl           0
11 class        0

In [20]:
map_df(df2, function(x) sum(is.na(x)))

  manufacturer model displ year cyl trans drv cty hwy fl class
1 0            0     0     0    0   0     0   0   0   0  0